

/* code from part 1 */

/* h1{
  font-family: "Arial";
}
 */

/* p{
  font-family: monospace;
}

body{
  font-size: 20px;

}

#two{
  font-size: 1.0em;
}

p{
  font-style: italic;
  font-weight: bold;
}

h1{
  text-align: center;
} */

/* code from part 2 */

h1{
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
}
p{
  font-family: 'Permanent Marker', cursive;
}
