body{
  background: url(https://atlantis.nyc3.digitaloceanspaces.com/styled/8f4597e8d337d22501cede98b6b0ecb4);
}

div{
  background-color: blue;
  border-color: orange;
  border-width: 5px;
  border-style: double;
}

p{
  color: yellow
}

span{
  background: red;
  color: black;
}

/* I added the stuff below myself */
div > p{
  background-color: yellow;
  color: green;
}
